.login-page {
    height: 800px;
    .login-text {
        .text1 {
            position: absolute;
            width: 420px;
            height: 38px;
            left: calc(50% - 420px/2 + 1px);
            top: 108px;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
        }

        .text2 {
            position: absolute;
            width: 575px;
            height: 22px;
            left: calc(50% - 575px/2 + 0.5px);
            top: 160px;
            font-style: normal;
            font-weight: 200;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .login-form {
        position: absolute;
        width: 646px;
        height: 530px;
        left: calc(50% - 646px/2);
        top: 235px;

        background: #000000;
        box-shadow: 0px 0px 29px #5314AD;
        border-radius: 30px;
        z-index: 10;

        .forgot-password {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            gap: 10px;

            position: absolute;
            width: 140px;
            height: 42px;
            left: calc(50% - 140px/2);
            top: 240px;

            color: #8f8e8e;
        }

        .forgot-password:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .register-text {
            position: absolute;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #B3B3B3;
            margin-top: 20px;
            top: 455px;
            left: 120px;
        }

        .register {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 22px;
            color: #B3B3B3;
        }

        .register:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        svg {
            position: relative;
            float: left;
        }

        .btn {
            width: 485px;
            height: 64px;
            background: #5314AD;
            border-radius: 8px;
            font-size: 22px;
            color: #FFFFFF;
            margin-top: 25px;
            margin-left: 90px;
            transition: 0.3s;
            position: absolute;
            width: 480px;
            height: 64px;
            left: 36%;
            top: 270px;
            transform: translate(-50%, 0%);

            background: #5314AD;
            border-radius: 8px;

        }

        .btn:hover {
            background-color: transparent;
            border: 1px solid #5314AD;
        }

        .btn-google {
            width: 485px;
            height: 64px;
            background: #ffffff;
            border-radius: 8px;
            font-size: 19px;
            color: #616161;
            margin-top: 25px;
            margin-left: 90px;
            transition: 0.3s;
            position: absolute;
            width: 480px;
            height: 63px;
            left: 36%;
            top: 350px;
            transform: translate(-50%, 0%);
        }

        .btn-google:hover {
            background-color: #a5a5a5;
            border: none;

            .svg-google {
                left: 331px;
                top: 9px;
            }
        }

        .svg-google {
            position: absolute;
            left: 330px;
            top: 8px;
        }

        .text-input {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 23px;
            gap: 10px;
            width: 484px;
            height: 65px;
            color: #ffffff;
            font-size: 20px;
            border: 1px solid #B3B3B3;
            border-radius: 8px;
            background-color: transparent;
            outline: none;
            margin: 10px;
            margin-left: 90px;
        }

        .text {
            position: relative;
            font-style: normal;
            font-weight: 350;
            font-size: 23px;
            line-height: 24px;
            color: #FFFFFF;
            margin-top: 40px;
            margin-left: 80px;
            float: left;
            text-align: left;
        }

    }

    .line-foneL {
        position: absolute;
        width: 213px;
        height: 279px;
        left: -27px;
        top: 255px;
    }

    .line-foneR {
        position: absolute;
        width: 296px;
        height: 357px;
        left: 83%;
        top: 400.01px;
        transform: rotate(-5.95deg);
        z-index: 1;
    }
}