/* Маєте запитання? Зателефонуйте за номером 0800-509-416 */
.ques {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #B3B3B3;
}

.wrapper-footer {
    position: relative;
    background-color: black;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1050px;
    
}
.line{
    position: relative;
    height: 1px;
    width: 1300px;
    background-color: #969696;
    left: -12%;
}
.footer {
    position: relative;
    width: 1068px;
    height: 228px;
    background-color: black;
    margin-top: 56px;
    bottom: 0;
    top: 0px;

}


.column-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.column-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #B3B3B3;
}

.bottom-text{
    margin-top: 33px;
}