.header-pos {
    margin: 39px 175px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 100;
}

.right-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}

.exit-button {
    color: white;
    text-align: center;
    background: #5314AD;
    border-radius: 8px;
    width: 114px;
    height: 36px;
}
.logo-image{
    width: 111px;
    height: 62px;
}
.lang-p{
    color: white;
}


/*//Authorization*/

.authorizationHeaderWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapperLinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.textHeaderLinks {
    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.wrapperProfiles {
    gap: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapperLikeTime {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.wrapperIcons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.centerHeaderContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.searchInput {
    border: 1px solid #B3B3B3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    color: #B3B3B3;
    background-color: transparent;
    padding-left: 15px;
}
.searchInput::placeholder {
    color: #B3B3B3;
}

