.film-page {
    .img-fone {
        position: absolute;
        width: 930px;
        height: 623px;
        left: 508px;
        top: 0px;
    }

    .radial {
        position: absolute;
        width: 1440px;
        height: 1140px;
        left: -95px;
        top: -210px;

        background: radial-gradient(46.15% 46.15% at 29.03% 46.15%, #49108B 1.5%, #00000000 76.95%);
        rotate: -45deg;
    }

    .movie-description {
        width: max-content;
        height: max-content;

        .name-film {
            position: absolute;
            width: 317px;
            height: 38px;
            left: calc(50% - 317px/2 - 386.5px);
            top: 91px;

            font-family: 'NAMU';
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 38px;

            color: #FFFFFF;
        }

        .btn-start-film {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8.33333px 8.33333px 8.33333px 16.6667px;
            gap: 12.5px;

            position: absolute;
            width: 238.33px;
            height: 53.33px;
            left: 175px;
            top: 166px;
            border: 0px;
            background: #5314AD;
            border-radius: 6.66667px;
            transition: 0.5s;

            .text-start-film {
                width: 148px;
                height: 21px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 21px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-top: 7px;
            }
        }

        .btn-start-film:hover {
            background: #000000;
            border: 1px solid #5314AD;
            border-radius: 6.66667px;
        }

        .description {
            position: absolute;
            width: 614px;
            height: 95px;
            left: 175px;
            top: 252px;

            .text-description {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                color: #FFFFFF;
            }
        }

        .table-info-movie {
            position: absolute;
            width: 506px;
            height: 207.72px;
            left: 175px;
            top: 378px;

            th {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }

        }

        .btn1 {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8.33333px 8.33333px 8.33333px 16.6667px;
            gap: 12.5px;
            position: absolute;
            width: 156px;
            height: 53px;
            left: 175px;
            top: 610px;
            border: 1.5px solid #B3B3B3;
            border-radius: 6.66667px;
            background-color: #ffffff00;
            transition: 0.3s;

            .text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 21px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-top: 7px;
                margin-right: 10px;
            }
        }

        .btn2 {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8.33333px 8.33333px 8.33333px 16.6667px;
            gap: 12.5px;
            position: absolute;
            width: 253px;
            height: 53px;
            left: 347px;
            top: 610px;
            border: 1.5px solid #B3B3B3;
            border-radius: 6.66667px;
            background-color: #ffffff00;
            transition: 0.3s;

            .text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 21px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-top: 7px;
                margin-right: 15px;
            }

        }

        .btn3 {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8.33333px 8.33333px 8.33333px 8px;
            position: absolute;
            width: 56px;
            height: 53px;
            left: 616px;
            top: 610px;
            border: 1.5px solid #B3B3B3;
            border-radius: 6.66667px;
            background-color: #ffffff00;
            transition: 0.3s;
        }

        .btn1:hover,
        .btn2:hover,
        .btn3:hover {
            background-color: #ffffff91;
        }

        .more-details {
            .text1 {
                position: absolute;
                width: 185px;
                height: 38px;
                left: 165px;
                top: 708px;
                font-family: 'NAMU';
                font-style: normal;
                font-weight: 300;
                font-size: 32px;
                line-height: 38px;
                color: #FFFFFF;
            }

            .text2 {
                position: absolute;
                width: 215px;
                height: 29px;
                left: 160px;
                top: 779px;
                font-family: 'NAMU';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }

            .table-info-actors {
                position: absolute;
                width: 784.64px;
                height: 70.77px;
                left: 175px;
                top: 815px;

                th {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }

                tr {
                    height: 10px;
                }
            }

            .text3 {
                position: absolute;
                width: 113px;
                height: 29px;
                left: 175px;
                top: 928px;
                font-family: 'NAMU';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }

            .text4 {
                position: absolute;
                left: 175px;
                top: 980px;
                bottom: 3.9%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
    }

    .row-films {
        position: absolute;
        left: 70px;
        top: 930px;
    }
}